/* .header_nav-list_item .dropdown-menu1 {
    margin: 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: 0;
    padding-top: 50px;
    visibility: hidden;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
} */
/* .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
} */

.usericonshop {
    padding-left: 11px;
    line-height: 37px;
}

.btn2:hover {
    background-color: #96c1c1 !important;
}

.line2 {
    margin: 0px 10px 0px 10px;
}

.nav-link {
    padding: 0 !important;
    display: block !important;
}

a {
    color: inherit !important;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.header_nav .nav-item.current,
.header_nav .nav-item:focus,
.header_nav .nav-item:hover,
.header_nav .nav-link.current,
.header_nav .nav-link:focus,
.header_nav .nav-link:hover {
    color: #b38e6a !important;
}

.dropdown-toggle::after {
    display: none !important;
    content: none !important;
}

body {
    background: #fff;
    font-family: Montserrat, sans-serif !important;
    color: #5c5c5c;
    font-size: 18px;
    line-height: 1.5;
    padding: 0 !important;
}

.product-grid {
    /* font-family: 'Roboto', sans-serif; */
    text-align: center;
    transition: all 0.5s;
}

.product-grid:hover {
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
}

.product-grid .product-image {
    position: relative;
    overflow: hidden;
}

.product-grid .product-image a.image {
    display: block;
}

.product-grid .product-image img {
    width: 100%;
    height: auto;
}

.product-image .pic-1 {
    opacity: 1;
    backface-visibility: hidden;
    transition: all 0.5s;
    min-width: 275px;
    min-height: 200px;

}

.product-grid:hover .product-image .pic-1 {
    opacity: 0;
}

.product-grid {
    min-width: 275px;
    min-height: 270px;
    margin-right: 150px;
}

.product-image {
    height: 200px;
}

.product-image .pic-2 {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
    min-width: 275px;
    min-height: 200px;
}

.product-grid:hover .product-image .pic-2 {
    opacity: 1;
}

.product-grid .product-sale-label {
    color: #fff;
    background: #A8C7C7;
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.product-grid .social {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 15px;
    right: 7px;
}

.product-grid .social li {
    transform: translateX(60px);
    transition: all 0.3s ease 0.3s;
}

.product-grid .social li:nth-child(2) {
    transition: all 0.3s ease 0.4s;
}

.product-grid:hover .social li {
    transform: translateX(0);
}

.product-grid .social li a {
    color: #707070;
    background: #fff;
    font-size: 16px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin: 0 0 7px;
    border-radius: 50px;
    display: block;
    transition: all 0.3s ease 0s;
}

.product-grid .social li a:hover {
    color: #6DA84A;
}

.product-grid .product-rating {
    background: #Df9080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    position: absolute;
    bottom: -60px;
    left: 0;
    transition: all .2s ease-in-out 0s;
}

.product-grid:hover .product-rating {
    opacity: 1;
    bottom: 0;
}

.product-grid .rating {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
}

.product-grid .rating li {
    color: #6DA84A;
    font-size: 13px;
}

.product-grid .rating li.far {
    color: #999;
}

.product-grid .add-to-cart {
    color: white !important;
    font-size: 14px;
    font-weight: 600;
    /* float:right; */
    transition: all .2s ease-in-out 0s;
}

.product-grid .add-to-cart:hover {
    /* color: #b38e6a !important; */
    /* border-bottom: 1px solid black; */

}

.product-grid .product-content {
    background: white;
    padding: 15px;
}

.product-grid .title {
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 0 5px;
}

.product-grid .title a {
    color: #111;
    transition: all 500ms;
}

.product-grid .title a:hover {
    color: #Df9080 !important;
    transition: all 500ms;
}

.product-grid .title a:hover {
    color: #6DA84A;
}

.product-grid .price {
    color: #707070;
    font-size: 17px;
    text-decoration: underline;
}

.product-grid .price span {
    text-decoration: line-through;
    margin-right: 5px;
    display: inline-block;
    opacity: 0.6;
}

.vmenu {
    width: 20%;
    float: left;
    margin: 10px 10px 0px 10px;
}

.vli {
    padding: 10px !important;
}

.categories {
    margin-left: 10px;
    font-size: 33px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #Df9080 !important;
    border-radius: 10px;
}

.bg {
    background-color: #ede6dc68;
}

@media only screen and (max-width:990px) {
    .product-grid {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1199.98px) {
    /* .header_nav {
        margin-top: 15px;
    } */

    .mb50 {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .mmb50 {
        margin-bottom: 50px;
    }

    .mb0 {
        margin-bottom: 0px !important;
    }

    .vmenu {
        width: auto;
        float: none;
        margin: 10px 10px 0px 10px;
    }

    .mt20 {
        margin-top: 20px;
    }

    .categories {
        margin-left: 10px;
        font-size: 25px;
    }

    .mt80 {
        margin-top: 80px !important;
    }

    .product-grid {
        margin-right: 0px;
    }

}